.header-container {
  margin: 24px 24px 48px 0;
}

.header-message {
  text-align: right;
  margin-bottom: 12px;
}

.light {
  color: #fff;
}

.light a {
  color: #fff;
}

.light input {
  box-shadow: inset 0 -1px 0 0 #fff;
  color: #fff;
  caret-color: #fff;
}

.light .search-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="white" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
  width: 28px;
  height: 28px;
  margin-right: 0;
}

.light .search-field::placeholder {
  color: #ffffffa0;
}

.dark {
  color: #000;
}

.dark a {
  color: #000;
}

.dark input {
  box-shadow: inset 0 -1px 0 0 #000;
  color: #000;
  caret-color: #000;
}

.dark .search-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="black" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
  width: 28px;
  height: 28px;
  margin-right: 0;
}

.dark .search-field::placeholder {
  color: #000000a0;
}

.header-buttons {
  text-align: right;
}

.header-buttons a {
  margin-left: 20px;
}

body {
  height: calc(100vh - 24px);
}

.default-bg {
  background: rgb(39, 11, 116);
  background: radial-gradient(
    circle,
    rgb(77, 58, 158) 0%,
    rgb(39, 11, 116) 100%
  );
}

.clear-bg {
  background: rgb(233, 178, 0);
  background: radial-gradient(
    circle,
    rgb(255, 250, 205) 0%,
    rgb(233, 178, 0) 100%
  );
}

.clearnight-bg {
  background: rgb(0, 0, 24);
}

.rain-bg {
  background: rgb(102, 102, 102);
  background: linear-gradient(
    180deg,
    rgba(40, 40, 40) 0%,
    rgba(120, 120, 120) 100%
  );
}

.drizzle-bg {
  background: rgb(102, 102, 102);
  background: linear-gradient(
    180deg,
    rgba(70, 70, 70) 0%,
    rgba(140, 140, 140) 100%
  );
}

.clouds-bg {
  background: rgb(138, 138, 138);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255) 0%,
    rgba(138, 138, 138) 100%
  );
}

.thunderstorm-bg {
  background-color: #444444;
  animation: background-lightning 3s linear infinite;
}

.main-container {
  width: fit-content;
}

.search-container {
  display: flex;
  margin-bottom: 32px;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: none;
}

.tooltip-container {
  position: relative;
  font-size: 1.8em;
}

.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #f5eeae;
  color: #000;
  padding: 4px 8px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  position: absolute;
  z-index: 10000;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
}

.search-field {
  margin: 0 8px 0 16px;
  font-size: 1.2em;
  border: none;
  background: none;
  outline: none;
}

.search-field::placeholder {
  font-style: oblique;
}

.search-button {
  display: none;
}

.weather-container {
  max-width: 420px;
  padding: 24px;
  margin: 0 20px;
  display: flex;
  background-color: #252525;
  border: 10px solid #00000066;
  box-shadow: 0 0 0 10px #0000007f;
  border-radius: 24px;
  display: none;
}

.loading-message {
  width: 100%;
  position: relative;
  visibility: visible;
  color: white;
  text-align: center;
  margin-top: 250px;
}

#weather-info {
  width: 100%;
  display: flex;
  visibility: none;
}

.weather-container__icon {
  width: 100%;
  position: relative;
}

#temp-val {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#weather-container__city {
  width: 100%;
}

.city-val {
  text-align: center;
}

#sun-icon {
  width: 60%;
  margin: 0 auto;

  -webkit-animation: sun-spin 40s linear infinite;
  animation: sun-spin 40s linear infinite;
}

#moon-icon {
  width: 60%;
  margin: 0 auto;

  -webkit-animation: moon-glow 6s linear infinite;
  animation: moon-glow 6s linear infinite;
}

#cloud-icon-1 {
  width: 60%;
  position: relative;
  left: 10%;
  bottom: 0;

  -webkit-animation: cloud-move-1 5s linear infinite;
  animation: cloud-move-1 5s linear infinite;
}

#cloud-icon-2 {
  width: 40%;
  position: absolute;
  left: 25%;
  bottom: 0%;
  z-index: 10;

  -webkit-animation: cloud-move-2 5s linear infinite;
  animation: cloud-move-2 5s linear infinite;
}

#storm-cloud-icon-1 {
  width: 60%;
  position: relative;
  top: 0;
  left: 5%;
  z-index: 100;

  -webkit-animation: cloud-lightning 3s linear infinite;
  animation: cloud-lightning 3s linear infinite;
}

#storm-cloud-icon-2 {
  width: 60%;
  position: absolute;
  top: 0;
  left: 35%;
  z-index: 1000;

  -webkit-animation: cloud-lightning 3s linear infinite;
  animation: cloud-lightning 3s linear infinite;
}

#snow-main {
  width: 60%;
  position: relative;
  top: 10%;
  margin: 0 auto;

  -webkit-animation: snow-rotate 15s linear infinite;
  animation: snow-rotate 15s linear infinite;
}

#snow-small-1 {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0%;

  -webkit-animation: snow-fall 5s linear infinite;
  animation: snow-fall 5s linear infinite;
}

#snow-small-2 {
  width: 10%;
  position: absolute;
  top: 0;
  right: 0%;

  -webkit-animation: snow-fall 7s linear infinite;
  animation: snow-fall 7s linear infinite;
}

#rain-cloud {
  width: 60%;
  margin: 0 auto;
  z-index: 20;
  position: relative;
}

.rain-drops {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 19;
  margin: 0 auto;
}

#rain-drop-1 {
  width: 15%;
  position: relative;
  left: 25%;

  -webkit-animation: rain-drop 1.6s linear infinite;
  animation: rain-drop 1.6s linear infinite;
}

#rain-drop-2 {
  width: 15%;
  position: relative;
  left: 20%;

  -webkit-animation: rain-drop 1s linear infinite;
  animation: rain-drop 1s linear infinite;
}

#rain-drop-3 {
  width: 15%;
  position: relative;
  left: 17%;

  -webkit-animation: rain-drop 1.3s linear infinite;
  animation: rain-drop 1.3s linear infinite;
}

#rain-drop-4 {
  width: 15%;
  position: relative;
  left: 12%;

  -webkit-animation: rain-drop 1.5s linear infinite;
  animation: rain-drop 1.5s linear infinite;
}

#drizzle-drop-1 {
  width: 15%;
  position: relative;
  left: 37%;

  -webkit-animation: rain-drop 1.6s linear infinite;
  animation: rain-drop 1.6s linear infinite;
}

#drizzle-drop-2 {
  width: 15%;
  position: relative;
  left: 29%;

  -webkit-animation: rain-drop 1s linear infinite;
  animation: rain-drop 1s linear infinite;
}

#dust {
  height: 100%;
  -webkit-animation: dust 4s linear infinite;
  animation: dust 4s linear infinite;
}

#mist-1 {
  width: 60%;
  position: relative;
  left: 20%;
  -webkit-animation: mist-1 6s linear infinite;
  animation: mist-1 6s linear infinite;
}

#mist-2 {
  width: 60%;
  position: absolute;
  top: 15%;
  left: 15%;
  -webkit-animation: mist-2 6.6s linear infinite;
  animation: mist-2 6.6s linear infinite;
}

#mist-3 {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 10%;
  -webkit-animation: mist-3 7.2s linear infinite;
  animation: mist-3 7.2s linear infinite;
}

@keyframes sun-spin {
  100% {
    -webkit-transform: rotate(360deg);
    rotate: (360deg);
  }
}

@keyframes moon-glow {
  0% {
    filter: drop-shadow(0 0 4px #ffffbb);
  }

  50% {
    filter: drop-shadow(0 0 12px #ffffbb);
  }

  100% {
    filter: drop-shadow(0 0 4px #ffffbb);
  }
}

@keyframes cloud-move-1 {
  50% {
    left: 30%;
  }

  100% {
    left: 10%;
  }
}

@keyframes cloud-move-2 {
  50% {
    left: 45%;
  }

  100% {
    left: 25%;
  }
}

@keyframes background-lightning {
  0% {
    background-color: #444444;
  }

  25% {
    background-color: #444444;
  }
  26% {
    background-color: #23646d;
  }

  35% {
    background-color: #444444;
  }

  39% {
    background-color: #23646d;
  }

  80% {
    background-color: #23646d;
  }
}

@keyframes cloud-lightning {
  0% {
    filter: drop-shadow(0 0 0);
  }

  25% {
    filter: drop-shadow(0 0 0);
  }
  26% {
    filter: drop-shadow(0px 4px 3px #51ebff);
  }

  35% {
    filter: drop-shadow(0 0 0);
  }

  39% {
    filter: drop-shadow(0px 4px 3px #51ebff);
  }

  80% {
    filter: drop-shadow(0px 4px 3px #51ebff);
  }
}

@keyframes snow-rotate {
  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes snow-fall {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 100%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    transform: rotate(360deg);
    top: 100%;
    opacity: 0;
  }
}

@keyframes rain-drop {
  0% {
    opacity: 100%;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-30%, 40%);
  }
}

@keyframes dust {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes mist-1 {
  25% {
    opacity: 50%;
  }

  50% {
    left: 30%;
    opacity: 100%;
  }

  75% {
    opacity: 50%;
  }

  100% {
    left: 20%;
  }
}

@keyframes mist-2 {
  25% {
    opacity: 50%;
  }

  50% {
    left: 35%;
    opacity: 100%;
  }

  75% {
    opacity: 50%;
  }

  100% {
    left: 15%;
    opacity: 100%;
  }
}

@keyframes mist-3 {
  25% {
    opacity: 50%;
  }

  50% {
    left: 40%;
    opacity: 100%;
  }

  75% {
    opacity: 50%;
  }

  100% {
    left: 10%;
    opacity: 100%;
  }
}

@media (max-width: 340px) {
  .header-container {
    font-size: 1.2em;
  }

  .loading-message {
    font-size: 1.2em;
  }

  .search-field {
    width: 50%;
  }

  .weather-container {
    border-width: 7px;
    box-shadow: 0 0 0 7px #0000007f;
    margin: 0 14px;
  }

  #temp-val {
    font-size: 4.5em;
  }

  #city-val {
    font-size: 1.3em;
  }

  .footer-container {
    font-size: 32px;
  }

  .footer-container a {
    margin: 0 8px;
  }
}

@media (min-width: 341px) {
  .header-container {
    font-size: 1.5em;
  }

  .loading-message {
    font-size: 1.5em;
  }

  .search-field {
    width: 50%;
  }

  #temp-val {
    font-size: 6em;
  }

  #city-val {
    font-size: 1.7em;
  }

  .footer-container {
    font-size: 44px;
  }

  .footer-container a {
    margin: 0 12px;
  }
}

@media (max-width: 390px) {
  .search-field {
    width: 60%;
  }
}

@media (min-width: 391px) {
  .search-field {
    width: 80%;
  }
}

@media (min-width: 437px) {
  .header-container {
    font-size: 2em;
  }

  .header-container a {
    margin: 0 8px;
  }

  .loading-message {
    font-size: 2em;
  }

  #temp-val {
    font-size: 8.5em;
  }

  #city-val {
    font-size: 2em;
  }
}
