.tooltip-container {
  color: #ffffff;
}

.search-field {
  box-shadow: inset 0 -1px 0 0 #fff;
  caret-color: #fff;
}

.search-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="#ffffff" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
  width: 28px;
  height: 28px;
  margin-right: 0;
}

.search-field::placeholder {
  color: #ffffffa0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-bg {
  background: rgb(39, 11, 116);
  background: radial-gradient(
    circle,
    rgb(77, 58, 158) 0%,
    rgb(39, 11, 116) 100%
  );
}

.clear-bg {
  background: rgb(0, 132, 209);
  background: linear-gradient(
    180deg,
    rgb(0, 132, 209) 0%,
    rgb(99, 172, 255) 33%,
    rgb(99, 172, 255) 66%,
    rgb(0, 132, 209) 100%
  );
}

.clearnight-bg {
  background: rgb(0, 0, 24);
}

.rain-bg {
  background: rgb(102, 102, 102);
  background: linear-gradient(
    180deg,
    rgba(40, 40, 40) 0%,
    rgba(120, 120, 120) 100%
  );
}

.drizzle-bg {
  background: rgb(102, 102, 102);
  background: linear-gradient(
    180deg,
    rgba(40, 40, 40) 0%,
    rgba(120, 120, 120) 100%
  );
}

.clouds-bg {
  background: rgb(138, 138, 138);
  background: linear-gradient(
    180deg,
    rgba(183, 183, 183) 0%,
    rgba(138, 138, 138) 33%,
    rgba(138, 138, 138) 66%,
    rgba(183, 183, 183) 100%
  );
}

.thunderstorm-bg {
  background-color: #333333;
  animation: background-lightning 3s linear infinite;
}

.snow-bg {
  background-color: #bbbbbb;
}

.mist-bg{
  background: rgb(128, 134, 172);
  background: linear-gradient(
    180deg,
    rgb(233, 230, 238) 0%,
    rgb(128, 134, 172) 100%
  );
}

.main-container {
  width: 100%;
  max-width: 600px;
  padding: 0 24px;
}

.search-container {
  display: flex;
  margin-bottom: 32px;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: none;
}

.tooltip-container {
  position: relative;
  font-size: 1.8em;
}

.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #f5eeae;
  color: #000;
  padding: 4px 8px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  position: absolute;
  z-index: 10000;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
}

.search-field {
  width: 70%;
  margin: 0 8px 0 16px;
  font-size: 1.2em;
  border: none;
  background: none;
  outline: none;
}

.search-field::placeholder {
  font-style: oblique;
}

.search-button {
  display: none;
}

.weather-container {
  color: #ffffff;
  width: 100%;
  justify-content: center;
  display: none;
}

.loading-message {
  width: 100%;
  visibility: visible;
  color: white;
  text-align: center;
}

.weather-container__icon {
  position: relative;
  width: 30%;
  max-width: 150px;
  display: flex;
  align-items: center;
}

.weather-text {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp-info {
  display: flex;
  align-items: center;
}

.weather-container__temp {
  line-height: 1em;
}

.weather-container__city {
  line-height: 1em;
}

.weather-container__therm {
  height: 100%;
  display: flex;
}

.sun-icon {
  width: 100%;

  -webkit-animation: sun-spin 40s linear infinite;
  animation: sun-spin 40s linear infinite;
}

.moon-icon {
  width: 80%;
  position: relative;

  -webkit-animation: moon-glow 10s linear infinite;
  animation: moon-glow 10s linear infinite;
}

.cloud-icon-1 {
  width: 100%;
}

.cloud-icon-2 {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translateY(-15%);
}

.storm-cloud-icon-1 {
  width: 60%;
  position: relative;
  z-index: 100;

  -webkit-animation: cloud-lightning 3s linear infinite;
  animation: cloud-lightning 3s linear infinite;
}

.storm-cloud-icon-2 {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  z-index: 1000;

  -webkit-animation: cloud-lightning 3s linear infinite;
  animation: cloud-lightning 3s linear infinite;
}

.snow-main {
  width: 60%;
  position: relative;
  top: 10%;
  margin: 0 auto;

  -webkit-animation: snow-rotate 10s linear infinite;
  animation: snow-rotate 10s linear infinite;
}

.snow-small-1 {
  width: 15%;
  position: absolute;
  top: 0;
  left: 0%;

  -webkit-animation: snow-fall 5s linear infinite;
  animation: snow-fall 5s linear infinite;
}

.snow-small-2 {
  width: 15%;
  position: absolute;
  top: 0;
  right: 0%;

  -webkit-animation: snow-fall 7s linear infinite;
  animation: snow-fall 7s linear infinite;
}

.rain-cloud {
  width: 100%;
  margin: 0 auto;
  z-index: 20;
  position: relative;
}

.rain-drops {
  display: flex;
  position: absolute;
  bottom: -10%;
  z-index: 19;
  margin: 0 auto;
}

.rain-drop-1 {
  width: 30%;
  position: relative;
  left: 10%;

  -webkit-animation: rain-drop 1.6s linear infinite;
  animation: rain-drop 1.6s linear infinite;
}

.rain-drop-2 {
  width: 30%;
  position: relative;
  left: 3%;

  -webkit-animation: rain-drop 1s linear infinite;
  animation: rain-drop 1s linear infinite;
}

.rain-drop-3 {
  width: 30%;
  position: relative;
  left: -3%;

  -webkit-animation: rain-drop 1.3s linear infinite;
  animation: rain-drop 1.3s linear infinite;
}

.rain-drop-4 {
  width: 30%;
  position: relative;
  left: -10%;

  -webkit-animation: rain-drop 1.5s linear infinite;
  animation: rain-drop 1.5s linear infinite;
}

.drizzle-drop-1 {
  width: 30%;
  position: relative;
  left: 25%;

  -webkit-animation: rain-drop 1.6s linear infinite;
  animation: rain-drop 1.6s linear infinite;
}

.drizzle-drop-2 {
  width: 30%;
  position: relative;
  left: 10%;

  -webkit-animation: rain-drop 1s linear infinite;
  animation: rain-drop 1s linear infinite;
}

.mist-1 {
  width: 80%;
  position: absolute;
  left: 50%;
  top: -15%;
  left: 25%;
  transform: translateX(-50%);
  -webkit-animation: mist 3s linear infinite;
  animation: mist 3s linear infinite;
}

.mist-2 {
  width: 80%;
  position: absolute;
  top: 0;
  left: 25%;
  transform: translateX(-50%);
  -webkit-animation: mist 3s linear infinite;
  animation: mist 3s linear infinite;
}

.mist-3 {
  width: 80%;
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translateX(-50%);
  -webkit-animation: mist 3s linear infinite;
  animation: mist 3s linear infinite;
}

@keyframes sun-spin {
  100% {
    -webkit-transform: rotate(360deg);
    rotate: (360deg);
  }
}

@keyframes moon-glow {
  0% {
    filter: drop-shadow(0 0 4px #ffffbb);
  }

  50% {
    filter: drop-shadow(0 0 12px #ffffbb);
  }

  100% {
    filter: drop-shadow(0 0 4px #ffffbb);
  }
}

@keyframes cloud-move-1 {
  50% {
    left: 30%;
  }

  100% {
    left: 10%;
  }
}

@keyframes cloud-move-2 {
  50% {
    left: 45%;
  }

  100% {
    left: 25%;
  }
}

@keyframes background-lightning {
  0% {
    background-color: #333333;
  }

  25% {
    background-color: #333333;
  }
  26% {
    background-color: #23646d;
  }

  35% {
    background-color: #333333;
  }

  39% {
    background-color: #23646d;
  }

  80% {
    background-color: #23646d;
  }
}

@keyframes cloud-lightning {
  0% {
    filter: none;
  }

  25% {
    filter: none;
  }
  26% {
    filter: drop-shadow(0px 4px 3px #51ebff);
  }

  35% {
    filter: none;
  }

  39% {
    filter: drop-shadow(0px 4px 3px #51ebff);
  }

  80% {
    filter: drop-shadow(0px 4px 3px #51ebff);
  }
}

@keyframes snow-rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes snow-fall {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 100%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    transform: rotate(360deg);
    top: 100%;
    opacity: 0;
  }
}

@keyframes rain-drop {
  0% {
    opacity: 100%;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-30%, 40%);
  }
}

@keyframes mist {
  0% {
    left: 40%;
  }

  25% {
    left: 50%;
  }

  50% {
    left: 60%;
  }

  75% {
    left: 50%;
  }

  100% {
    left: 40%;
  }
}

@media (min-width: 100px) {
  .loading-message {
    font-size: 1.5em;
  }

  .weather-container__temp {
    font-size: 3em;
  }

  .weather-container__therm {
    width: 2.5em;
  }

  .weather-container__city {
    font-size: 1.5em;
  }
}

@media (min-width: 500px) {
  .loading-message {
    font-size: 2em;
  }

  .weather-container__temp {
    font-size: 4em;
  }

  .weather-container__therm {
    width: 3.3em;
  }

  .weather-container__city {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .loading-message {
    font-size: 3em;
  }

  .weather-container__temp {
    font-size: 5em;
  }

  .weather-container__therm {
    width: 4em;
  }

  .weather-container__city {
    font-size: 2.5em;
  }
}